### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_file)

In [2]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
unique_values = purchase_data_df["SN"].nunique()
Total_Players = unique_values - 1
Total_Players_Final= pd.DataFrame({"Total Players": [unique_values]}, columns= ["Total Players"])
Total_Players_Final

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# number of unique items 
unique_items = purchase_data_df["Item Name"].nunique()
unique_items

179

In [5]:
#Average Purchase Price  
Avg_Price = purchase_data_df["Price"].mean()
Avg_Price

3.050987179487176

In [6]:
#Total Number of Purchases 
Ttl_Purchases = purchase_data_df["Purchase ID"].count()
Ttl_Purchases

780

In [7]:
#Total Purchase Price
Ttl_Rev = purchase_data_df["Price"].sum()
Ttl_Rev

2379.77

In [8]:
# Purchase Analysis (Total) Summary
Purch_Summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],"Average Purchase Price":[Avg_Price],
                                "Number of Purchases":[Ttl_Purchases],"Total Revenue":[Ttl_Rev]},
                                columns=["Number of Unique Items", "Average Purchase Price",
                                "Number of Purchases", "Total Revenue"])

Purch_Summary_df.style.format({"Average Purchase Price": "${:.2f}","Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
MalePlayers= purchase_data_df[purchase_data_df["Gender"]=="Male"]["SN"].nunique()
MalePlayers

484

In [10]:
FemalePlayers= purchase_data_df[purchase_data_df["Gender"]=="Female"]["SN"].nunique()
FemalePlayers

81

In [11]:
Other_ND_Players= purchase_data_df[purchase_data_df["Gender"]=="Other / Non-Disclosed"]["SN"].nunique()
Other_ND_Players

11

In [12]:
MalePct= (MalePlayers/Total_Players)*100
MalePct

84.17391304347827

In [13]:
FemalePct= (FemalePlayers/Total_Players)*100
FemalePct

14.08695652173913

In [14]:
OtherPct= (Other_ND_Players/Total_Players)*100
OtherPct

1.9130434782608694

In [15]:
# Gender Demographics 
Gender_Dem_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                              "Percentage of Players": [MalePct, FemalePct, OtherPct],
                                        "Total Count": [MalePlayers, FemalePlayers, Other_ND_Players]}, 
                             columns =["Gender", "Percentage of Players", "Total Count"])

Gender_Dem_df.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
#Male Basic Calculations 
MalePurchCt= purchase_data_df[purchase_data_df["Gender"]=="Male"]["Price"].count()
#MalePurchCt
MaleAvgPrice= purchase_data_df[purchase_data_df["Gender"]=="Male"]["Price"].mean()
#MaleAvgPrice
MaleAvgPurchTotal= MalePurchCt*MaleAvgPrice
#MaleAvgPurchTotal

In [17]:
#Female Basic Calculations 
FemalePurchCt= purchase_data_df[purchase_data_df["Gender"]=="Female"]["Price"].count()
#FemalePurchCt
FemaleAvgPrice= purchase_data_df[purchase_data_df["Gender"]=="Female"]["Price"].mean()
#FemaleAvgPrice
FemaleAvgPurchTotal= FemalePurchCt*FemaleAvgPrice
#FemaleAvgPurchTotal

In [18]:
#Other/ND Basic Calculations
ONDPurchCt= purchase_data_df[purchase_data_df["Gender"]=="Other / Non-Disclosed"]["Price"].count()
#ONDPurchCt
ONDAvgPrice= purchase_data_df[purchase_data_df["Gender"]=="Other / Non-Disclosed"]["Price"].mean()
#ONDAvgPrice
ONDAvgPurchTotal= ONDPurchCt*ONDAvgPrice
#ONDAvgPurchTotal

In [19]:
# Gender Demographics Purchasing Analysis 
Gender_Purchases_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                              "Purchase Count": [MalePurchCt, FemalePurchCt, ONDPurchCt],
                                        "Avg Purchase Price": [MaleAvgPrice, FemaleAvgPrice, ONDAvgPrice],
                             "Avg Purch. Ttl Per Person" : [MaleAvgPurchTotal, FemaleAvgPurchTotal,ONDAvgPurchTotal]}, 
                             columns =["Gender", "Purchase Count", "Avg Purchase Price","Avg Purch. Ttl Per Person"])

Gender_Purchases_df.style.format({"Avg Purchase Price": "${:.2f}","Avg Purch. Ttl Per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
# Establish the bins 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Slice the data and place it into bins
purchase_data_df["Age Bins"] = pd.cut(purchase_data_df["Age"], age_bins, labels=group_labels)

# percent by age bin
Age_Demo_Count = purchase_data_df["Age Bins"].value_counts()
#Age_Demo_Count
Age_Demo_Pct = (Age_Demo_Count / Total_Players) * 100
#Age_Demo_Pct

                           
Age_Demo_df = pd.DataFrame({"Total Count": Age_Demo_Count, "Percentage of Players": Age_Demo_Pct}).sort_index()
#Age_Demo_df

# Summary Table with Formatting

Age_Demo_df.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
#Create Bin for the DF by Ages
purchase_data_df["age_bins"]= pd.cut(purchase_data_df["Age"], age_bins, labels=group_labels)

#Purchase Count by Age
Age_Purch_CT = purchase_data_df.groupby(["age_bins"]).count().Age
#Age_Purch_CT

#Avg Purchase price by Age
Age_Avg_Purch_Price= purchase_data_df.groupby(["age_bins"]).mean().Age

#Purchase Total Per Person
Age_Purch_Ttl_PP= Age_Purch_CT*Age_Avg_Purch_Price
#Age_Purch_Ttl_PP

AGE_data = pd.DataFrame({"Purchase Count": Age_Purch_CT,
                            "Avg Purchase Price": Age_Avg_Purch_Price, 
                            "Total Purchase Value": Age_Purch_Ttl_PP })
AGE_data.style.format({"Avg Purchase Price": "${:.2f}","Total Purchase Value": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
#group data by "SN" to ID each spender 
Spenders_Group= purchase_data_df.groupby(["SN"])

# Purchase Count
Spenders_Purch_CT = Spenders_Group["Price"].count()
#Spenders_Purch_CT

#Avg Purchase price 
Spenders_Avg_Purch_Price= Spenders_Group["Price"].mean()

#Purchase Total Per Person
Spenders_Purch_TTL_PP= Spenders_Purch_CT * Spenders_Avg_Purch_Price


TopSpenders_data = pd.DataFrame({"Total Purchase Count": Spenders_Purch_CT,
                            "Avg Purchase Price": Spenders_Avg_Purch_Price, 
                            "Total Purchase Value": Spenders_Purch_TTL_PP })

TopSpenders_data = TopSpenders_data.sort_values(["Total Purchase Value"], ascending=False).round(2)
TopSpenders_data ["Avg Purchase Price"] = TopSpenders_data ["Avg Purchase Price"].map("${:.2f}".format)
TopSpenders_data ["Total Purchase Value"] = TopSpenders_data ["Total Purchase Value"].map("${:.2f}".format)


TopSpenders_data.head()

             Total Purchase Count Avg Purchase Price Total Purchase Value
SN
Lisosia93                       5              $3.79               $18.96
Idastidru52                     4              $3.86               $15.45
Chamjask73                      3              $4.61               $13.83
Iral74                          4              $3.40               $13.62
Iskadarya95                     3              $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
#DF group by Item and Item ID 
Popular_Data_Grp= purchase_data_df.groupby(["Item Name"])

# Purchase Count
Pop_Purch_CT= Popular_Data_Grp["Price"].count()

#Avg Purchase price 
Pop_Purch_Price= Popular_Data_Grp["Price"].mean()

#Purchase Total Per Person
Pop_Purch_TTL_PP= Pop_Purch_CT * Pop_Purch_Price


Popular_Data = pd.DataFrame({"Total Purchase Count": Pop_Purch_CT,
                            "Avg Purchase Price": Pop_Purch_Price, 
                            "Total Purchase Value": Pop_Purch_TTL_PP })
Popular_Data = Popular_Data.sort_values(["Total Purchase Count"], ascending=False).round(2)
Popular_Data ["Avg Purchase Price"] = Popular_Data ["Avg Purchase Price"].map("${:.2f}".format)
Popular_Data ["Total Purchase Value"] = Popular_Data ["Total Purchase Value"].map("${:.2f}".format)


Popular_Data.head()

,Total Purchase Count,Avg Purchase Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Persuasion,9,$3.22,$28.99
Nirvana,9,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [26]:
#DF group by Item and Item ID 
Popular_Data= purchase_data_df.groupby(["Item Name"])

# Purchase Count
Pop_Purch_CT= Popular_Data_Grp["Price"].count()

#Avg Purchase price 
Pop_Purch_Price= Popular_Data_Grp["Price"].mean()

#Purchase Total Per Person
Pop_Purch_TTL_PP= Pop_Purch_CT * Pop_Purch_Price


Popular_Data = pd.DataFrame({"Total Purchase Count": Pop_Purch_CT,
                            "Avg Purchase Price": Pop_Purch_Price, 
                            "Total Purchase Value": Pop_Purch_TTL_PP })
Popular_Data = Popular_Data.sort_values(["Total Purchase Value"], ascending=False).round(2)
Popular_Data ["Avg Purchase Price"] = Popular_Data ["Avg Purchase Price"].map("${:.2f}".format)
Popular_Data ["Total Purchase Value"] = Popular_Data ["Total Purchase Value"].map("${:.2f}".format)


Popular_Data.head()

,Total Purchase Count,Avg Purchase Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Nirvana,9,$4.90,$44.10
Fiery Glass Crusader,9,$4.58,$41.22
Singed Scalpel,8,$4.35,$34.80

# OBSERVATIONS: 
#1.) The Final Critic item is the most purchased of all item, but only ahead by 1 purchase of the Oatbreaker, Last Hope of the Breaking Storm

#2.) The most purchase product is also the most profitable, primairly driven by the avg. purhase price being higher than most. 

#3.)Age group 20-24 years account for the most purchase and are the most valuable customers.